<div class="row">
    <div class="col-xs-12">
        <!-- <div class="alert alert-danger" *ngIf="error">
           <p>{{error}}</p> 
        </div> -->
        <app-alert [message]="error" *ngIf="error" (close)="onErrorHandler()"></app-alert>
        <div *ngIf="isLoading" style="text-align:center">
           <app-loading-spinner></app-loading-spinner>
        </div>
        <form  #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
            <div class="form-group">
              
                <label for="email">Email</label>
                <input style="width: 200px;"
                  type="email" 
                  id="email" 
                  class="form-control"
                  ngModel
                  name="email"
                  required
                  email>
              </div>              
            <div class="form-group">
                <label for="password">Password</label>
                <input style="width: 200px;"
                  type="password" 
                  id="password" 
                  class="form-control"
                  ngModel
                  name="password"
                  required
                  minlength="6">
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">{{isLoginMode?'Login':'SignUp'}}</button>|
                <button class="btn btn-primary" (click)="onSwitch()" type="button">Switch to {{isLoginMode?'Signup':'Login'}}</button>
            </div>

        </form>
    </div>
</div>